In [3]:
import operator

people = {
    'Tom': 25,
    'Jack': 54,
    'Alice': 34,
    'Bob': 23
}


result = sorted(people.items(), key=operator.itemgetter(1))
print(result)

[('Bob', 23), ('Tom', 25), ('Alice', 34), ('Jack', 54)]

In [4]:
import operator

people = [
    {'name': 'Tom', 'age': 25},
    {'name': 'Jack', 'age': 54},
    {'name': 'Alice', 'age': 34},
    {'name': 'Bob', 'age': 23}
]


result = sorted(people, key=operator.itemgetter('age'))
print(result)

[{'name': 'Bob', 'age': 23}, {'name': 'Tom', 'age': 25}, {'name': 'Alice', 'age': 34}, {'name': 'Jack', 'age': 54}]

In [6]:
people = {
    'Tom': 25,
    'Jack': 54,
    'Alice': 34,
    'Bob': 23
}

for item in reversed(people):
    print(item, people[item])

Bob 23
Alice 34
Jack 54
Tom 25

In [8]:
x = {1, 2, 3, 4, 5, 6, 7}

for item in reversed(x):
    print(item)

TypeError: 'set' object is not reversible

In [9]:
x = {1, 2, 3, 4}

print(*enumerate(x))

(0, 1) (1, 2) (2, 3) (3, 4)

In [10]:
people = {
    'Tom': 25,
    'Jack': 54,
    'Alice': 34,
    'Bob': 23
}

print(*enumerate(people))

(0, 'Tom') (1, 'Jack') (2, 'Alice') (3, 'Bob')

In [11]:
x = 'Python'
y = [1, 2, 3, 4, 5, 6]
z = {1: 'one', 2: 'two', 3: 'three'}

res = list(zip(x, y, z))
print(res)

[('P', 1, 1), ('y', 2, 2), ('t', 3, 3)]

In [13]:
from functools import reduce
from operator import add

def sum_even_numbers(sequence):
    even_numbers = filter(lambda item: item % 2 == 0, sequence)
    square = map(lambda item: item ** 2, even_numbers)
    return reduce(add, square)

x = [1, 2, 3, 4, 5]
print(sum_even_numbers(x))

20

In [15]:
from functools import reduce
from operator import add

def sum_even_numbers(sequence):
    return sum(map(lambda item: 0 if item % 2 else item ** 2, sequence))

x = [1, 2, 3, 4, 5]
print(sum_even_numbers(x))

20

In [16]:
from functools import reduce

def compose_functions(functions, item):
    for func in functions:
        item = func(item)

    return item

add_one = lambda x: x + 1
double = lambda x: x * 2
subtract_three = lambda x: x - 3

functions = [add_one, double, subtract_three]

print(compose_functions(functions, 5))

9

In [17]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

# Считаем сумму чисел с начальным значением 10
result = reduce(lambda acc, x: acc + x, numbers, 10)

print(result)  # Вывод: 25

25

In [20]:
from functools import reduce

def compose_functions(functions, item):
    return reduce(lambda acc, func: func(acc), functions, item)
    

add_one = lambda x: x + 1
double = lambda x: x * 2
subtract_three = lambda x: x - 3

functions = [add_one, double, subtract_three]

print(compose_functions(functions, 5))

9

In [22]:
import itertools
import operator
numbers = [1, 2, 3, 4, 5]
result = itertools.accumulate(numbers, operator.mul)
print(result)

<itertools.accumulate object at 0x0000026BB2FD7FB0>

In [26]:
import itertools
import operator
numbers = 'Python'
result = itertools.accumulate(numbers, lambda x, y: f'{x}{y}')
print(*result, sep='\n')

P
Py
Pyt
Pyth
Pytho
Python