## Frozenset

In [1]:
x = 'Hello'
y = frozenset(x)

print(y)

frozenset({'o', 'e', 'H', 'l'})

In [2]:
y.add(4)

AttributeError: 'frozenset' object has no attribute 'add'

In [3]:
for item in y:
    print(item)

o
e
H
l

In [4]:
'o' in y

True

In [5]:
len(y)

4

In [6]:
y = set(range(5))
print(y)

{0, 1, 2, 3, 4}

In [11]:
x = [7, 1, 2, 3, 4]
y = set(x)
print(y)

{1, 2, 3, 4, 7}

In [9]:
x = [1, 6, 7, 8]
y = {item * 2 for item in x}
print(y)
y1 = frozenset(y)
print(y1)

{16, 2, 12, 14}
frozenset({16, 2, 12, 14})

## Dict

In [15]:
my_dict = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
print(my_dict)
my_dict = {'one': 1, 'two': 3, 'three': 3}
print(my_dict)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
{'one': 1, 'two': 3, 'three': 3}

In [14]:
x = {}
print(type(x))

<class 'dict'>

In [18]:
# First
x1 = {1: 'Jan', 2: 'Feb', 3: 'Mar'}

x = [(1, 'Jan'), (2, 'Feb'), (3, 'Mar')]
x2 = dict(x)
print(x2)

x3 = dict(zip([1, 2, 3], ['Jan', 'Feb', 'Mar']))
print(x3)

{1: 'Jan', 2: 'Feb', 3: 'Mar'}
{1: 'Jan', 2: 'Feb', 3: 'Mar'}

In [23]:
x = ((1, 2), (3, 4))
print(x)

([1, 2], [3, 4, 7])

In [24]:
y = dict(x)
print(y)

ValueError: dictionary update sequence element #1 has length 3; 2 is required

In [25]:
x = {1: 'one', 2: 'two'}

print(x[1])

one

In [26]:
x[3] = 'three'
print(x)

{1: 'one', 2: 'two', 3: 'three'}

In [27]:
x[2] = 'два'
print(x)

{1: 'one', 2: 'два', 3: 'three'}

In [28]:
del x[2]
print(x)

{1: 'one', 3: 'three'}

In [29]:
x[10] = 'ten'

In [30]:
print(x)

{1: 'one', 3: 'three', 10: 'ten'}

In [32]:
data = [
    '1 Bob Simson 19.58$ decorations',
    '2 Mary 66.7$ food',
    '3 Mary 98.91$ toys',
    '4 Aleksa 72.29$ drinks',
    '5 Maria Simson 84.48$ food',
    '6 Aleksa 100.41$ accessories',
    '7 Mary 19.9$ accessories',
    '8 Bob Simson 83.88$ drinks',
    '9 Bob Simson 58.21$ instruments',
    '10 Maria Simson 20.61$ accessories',
]

'10 Maria Simson 20.61$ accessories'

['10', 'Maria', 'Simson', '20.61$', 'accessories']
res = {}

for line in data:
    *_, money, category = line.split()
    money = float(money('$', ''))
    if category in res:
        res[category] += money
    else:
        res[category] = money

print(res)

['1', 'Bob', 'Simson']
['2', 'Mary']
['3', 'Mary']
['4', 'Aleksa']
['5', 'Maria', 'Simson']
['6', 'Aleksa']
['7', 'Mary']
['8', 'Bob', 'Simson']
['9', 'Bob', 'Simson']
['10', 'Maria', 'Simson']

In [33]:
data = [
    '1 Bob Simson 19.58$ decorations',
    '2 Mary 66.7$ food',
    '3 Mary 98.91$ toys',
    '4 Aleksa 72.29$ drinks',
    '5 Maria Simson 84.48$ food',
    '6 Aleksa 100.41$ accessories',
    '7 Mary 19.9$ accessories',
    '8 Bob Simson 83.88$ drinks',
    '9 Bob Simson 58.21$ instruments',
    '10 Maria Simson 20.61$ accessories',
]

res = {}

for line in data:
    *_, money, category = line.split()
    money = float(money.replace('$', ''))
    res[category] = res.get(category, 0) + money

    # if category in res:
    #     res[category] += money
    # else:
    #     res[category] = money

print(res)

{'decorations': 19.58, 'food': 151.18, 'toys': 98.91, 'drinks': 156.17000000000002, 'accessories': 140.92000000000002, 'instruments': 58.21}

In [35]:
x = {1: 'one'}
if 2 in x:
    print(x[2])

KeyError: 2

In [36]:
x = {1: 'one'}
print(x.get(2))

None

In [38]:
x = {1: 'one'}
print(x.get(1, 'Error'))

one

In [39]:
x.get('drinks', 0) + 120

0

In [42]:
x = {1: 'one'}
y = x.pop(1)

print(x)
print(y)

{}
one

In [46]:
x1 = {1: 'Jan', 2: 'Feb', 3: 'Mar'}
keys = x1.keys()

for item in keys:
    print(item)

print(len(keys))

1
2
3
3

In [47]:
values = x1.values()
print(values)

dict_values(['Jan', 'Feb', 'Mar'])

In [48]:
items = x1.items()
print(items)

dict_items([(1, 'Jan'), (2, 'Feb'), (3, 'Mar')])

In [49]:
for item in items:
    print(item)

(1, 'Jan')
(2, 'Feb')
(3, 'Mar')

In [51]:
x = {1: 'one', 2: 'two'}

for item in x:
    print(item, x[item])

1 one
2 two

In [52]:
for item in x.values():
    print(item)

one
two

In [54]:
for key, value in x.items():
    print(key, value)

1 one
2 two

In [58]:
salary = [('Jan', 10000), ('Feb', 10300), ('Mar', 10)]

salary_gt_100 = {x: y for x, y in salary if y > 100}

print(salary_gt_100)

{'Jan': 10000, 'Feb': 10300}

In [61]:
students = [
    {
    'name': 'Oleh',
    'course': 'Python',
    'AVG': 50,
    'address': {
        'city': 'Copen',
        'country': 'DK'
    }
    },
    {
    'name': 'Oleh1',
    'course': 'Python',
    'AVG': 50,
        'address': {
        'city': 'Berlin',
        'country': 'Germany'
    }
    },
]
for student in students:
    print(student['name'], student['AVG'], student['address']['city'])

Oleh 50 Copen
Oleh1 50 Berlin

In [ ]:
text = input('text>>')

res = {}

for item in set(text):
    res[item] = text.count(item)

print(res)

In [63]:
def func(**kwargs):
    print(kwargs)
    print(type(kwargs))

func(a='Hello', b=len, c=sum)

{'a': 'Hello', 'b': <built-in function len>, 'c': <built-in function sum>}
<class 'dict'>

In [65]:
def func(a, b, *args, **kwargs):
    print(a, b)
    print(args)
    print(kwargs)

func(1, 2, 3, 4, 5, 6, c=4, d=6)

1 2
(3, 4, 5, 6)
{'c': 4, 'd': 6}

In [72]:
def summa(a, b):
    return a + b
    
calc = {
  '+': summa,
  '-': lambda a, b: a - b,
}

a, b = 4, 5
print(calc.get('+')(a, b))

9

In [74]:
def parse_line(line):
    last_name, first_name, birth_year, course, points = line.split('-')
    student = {
        'last_name': last_name.title(),
        'first_name': first_name.title(),
        'birth_year': int(birth_year),
        'course': course,
        'points': int(points)
    }
    return student


def fill_db():
    db = []
    while (ans := input('фамилия-имя-год рождения-курс-количество баллов').lower()) != 'exit':
        student = parse_line(ans)
        db.append(student)
    return db


def search(db, field, value):
    res = []
    for item in db:
        if field in item.keys() and item[field] == value:
            res.append(item)
    return res


res = fill_db()
print(*search(res, 'points', 100), sep='\n')

фамилия-имя-год рождения-курс-количество баллов Ivanov1-Ivan1-2000-Python-100
фамилия-имя-год рождения-курс-количество баллов Ivanov2-Ivan2-2000-Python-100
фамилия-имя-год рождения-курс-количество баллов exit

[{'last_name': 'ivanov1', 'first_name': 'ivan1', 'birth_year': '2000', 'course': 'python', 'points': '100'}, {'last_name': 'ivanov2', 'first_name': 'ivan2', 'birth_year': '2000', 'course': 'python', 'points': '100'}]